@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000;
  font-family: 'Ubuntu', sans-serif;
}
.title-app {
  margin-top: 138px;
}
.logo-app {
  top: 118px;
  left: 80px;
}
.border-color {
  border-color: #333;
}
